<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s5">
            <form #trainForm="ngForm" (ngSubmit)="onSubmit(trainForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="trainService.selectTrain._id">
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="direction" #name="ngModel" [(ngModel)]="trainService.selectTrain.direction" placeholder="Direction" required>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="date" name="departureTime" #name="ngModel" [(ngModel)]="trainService.selectTrain.departureTime" placeholder="Departure time" required>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="date" name="arrivalTime" #name="ngModel" [(ngModel)]="trainService.selectTrain.arrivalTime" placeholder="Arrival time">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input type="text" name="places" #name="ngModel" [(ngModel)]="trainService.selectTrain.places" placeholder="Places">
                  <!--<label>Office :</label>-->
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(trainForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!trainForm.valid">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col s7">
            <table class="responsive-table highlight" style="background-color: aquamarine">
              <tr *ngFor="let train of trainService.trains">
                <td>{{train.direction}}</td>
                <td>{{train.departureTime}}</td>
                <td>{{train.arrivalTime}}</td>
                <td>{{train.places}}</td>
                <td>
                  <a class="action-btn" (click)="onEdit(train)">
                    <i class="material-icons">edit</i>
                  </a>
                  <a class="action-btn" style="margin: 15px" (click)="onDelete(train._id,trainForm)">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
