<nav class="site-header sticky-top py-1 bg-white">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" href="#">Головна сторінка</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink]="['/passengers']">Passengers</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink] = "['/trains']">Trains</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink] = "['/tickets']">Tickets</a>
    <a class="py-2 d-none d-md-inline-block" [routerLink] = "['/soldTickets']">Sold Tickets</a>
  </div>
</nav>
